
.board {
    position: fixed;
    bottom: 0;
    background: #eee;
    width: calc(100% - 12rem);
    margin: 0 6rem;
    padding: 6rem 5rem 1rem;
    box-sizing: border-box;
    border-radius: 3rem 3rem 0 0;
    box-shadow: 0 0 2rem #000;
    transition: all 0.3s ease-out;
}

.board div {
    width: 100%;
}

.Scheduleinvisible {
    bottom: -200px;
}

.Schedulevisible {
    bottom: 0;
}

.board .timeline {
    background: #fff;
    border-bottom: 1px solid #000;
    height: 5rem;
    position:relative;
}

.cycle .grid {
    position: absolute;
    height: 3rem;
    border-left: 1px solid #ddd;
    font-family: Helvetica, arial, sans-serif;
    color: #ddd;
    font-size: 1.4rem;
    padding-left: 0.5rem;
    line-height: 3rem;
}

.saf {
    margin-left: 1rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

.saf b {
    background: none;
    margin-right: 0;
    border: 1px dotted #000;
    font-size: 2rem;
}

.board .cycle {
    height: 3rem;
    background:#adadc1;
    display: block;
    position: relative;
    overflow: hidden;
}

.board .stripe {
    height: 5rem;
    position: absolute;
    display: block;
    cursor: pointer;
    text-align: right;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding-right: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3;
    color: #fff;   
}

.stripe1{background: #92924b;}
.stripe2{background: #b1b188;}
.stripe3{background: #e8ba71;}
.stripe4{background: #c5c5bf;}
.stripe5{background: #dedede;}



.hover1 .marker2{z-index: 2;}
.hover2 .marker3{z-index: 2;}
.hover3 .marker4{z-index: 2;}
.hover4 .marker5{z-index: 2;}
.hover5 .marker1{z-index: 2;}

.board .countdown {
    height: 5rem;
    z-index:1;
    position: absolute;
    display: block;
    cursor: pointer;
    text-align: right;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding-right: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3;
    color: #fff;
    width: 0;
    border-left: 2px solid #f00;
}

.board .stripe:hover {
    background: #bbbb2b;
}


.board .marker {
    position: absolute;
    transform: rotate(-45deg);
    top: -3rem;
    margin-left: -1rem;
    width: auto;
    padding: 0.5rem;
    font-family: Helvetica, Arial, sans-serif;
    transform-origin: left;
    background: #fff;
    box-shadow: 0px 2px 2px #555;
}

.board .marker1 {
    transform-origin: right;
    transform: rotate(45deg);
    right: -1rem;
}

.board .marker span {
    color: #888;
    font-size: 1.2rem;
}

.board .saf {
    position: absolute;
    top: 0;
    z-index: 1;
    margin-left: 0;
    width: auto;
    height: 4rem;
    padding: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 1rem solid #a74242;
    margin-left: -4px;
    transform-origin: top;
}

.board .saf:hover {
 border-top-color: #fff;
}

.board .saf:hover:before {
    opacity: 1;
    z-index: 1;
}

.board .saf:before{
    opacity: 0.3;
    display: block;
    background: #fff;
    content: attr(title);
    position: absolute;
    bottom: 0;
    height: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    transform: rotate(-45deg);
    top: -3rem;
    transform-origin: left;
}


@media all and (max-width:677px){

    .board {
        margin: 0;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .cycle .grid {
        font-size: 1rem;
        padding-left: 1px;
    }
}