.title {
    padding: 0 0 0 6rem;
    max-width: 600px;
    font-family: dayrom, Arial, Helvetica, sans-serif;
    font-size: 4rem;
    margin: 5rem 0;
    position: relative;

}

.about::before {
  position: absolute;
  background: url(../pics/about.svg);
  background-size: contain;
  display: block;
  height: 4rem;
  width: 4rem;
  content:"";
  left: 0;
  top: 0.5rem;  
}

.balance::before {
  position: absolute;
  background: url(../pics/balance.svg);
  background-size: contain;
  display: block;
  height: 4rem;
  width: 4rem;
  content:"";
  left: 0;
  top: 0;
}

.timer::before {
  position: absolute;
  background: url(../pics/watch.svg);
  background-size: contain;
  display: block;
  height: 4rem;
  width: 4rem;
  content:"";
  left: 0;
  top: 0;
}

.save::before {
  position: absolute;
  background: url(../pics/save.svg);
  background-size: contain;
  display: block;
  height: 5rem;
  width: 5rem;
  content:"";
  left: 0;
  top: 0;
}
