.icon,
.wrapper,
.balance {
    margin: 0 6rem;
}

.wrapper small,
.balance small {
    margin: 0 0 0 1rem;
    color: #888;
}

.moment,
.weight{
    margin: 1rem;
    padding: 2rem;
    border: 2px solid #888;
    border-radius: 2rem;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    font-family: Helvetica, Arial, sans-serif;
    background: rgba(250,250,250,0.5);
    outline: none;
}

.moment:focus,
.weight:focus {
    background: lightblue;    
}

.main {
    background: #EEE;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 20rem;
}

.range {
    display: inline-block;
    width: 100%;
}

.range .text{
    padding: 2rem;
    border: 2px solid #888;
    border-radius: 2rem;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    font-family: Helvetica, Arial, sans-serif;
    background: rgba(250,250,250,0.5);
    outline: none;
    box-sizing: border-box;
}

.save label {
    margin-left: 3rem;
}

.save .submit {
    padding: 1rem 4rem;
    margin-left: 3rem;
    cursor: pointer;
    color: #555;
    width: auto;
    font-size: 3rem;
    border-radius: 1rem;
    border: 2px solid #888;
    background: #dadada;
}

.errorAlready {
    color: #f00;
    font-family: Arial,Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-left: 3rem;
    top: -1rem;
    position: relative;
}

.range .error {
    background: #eccaca;
    border-color: #f00;
    color: #f00;
}

.save .submit:focus,
.save .submit:hover {
    background: #e8ba70;
    color: #000;
    outline: none;
}

.save dl {
    padding: 2rem 1rem 0;
    margin: 0 2rem;
    overflow: hidden;
    color: #888;
    font-size: 1.4rem;
    font-family: Helvetica, Arial, sans-serif;
}

.save dl dd {
    margin-left: 0;
}

dd ul{
    padding-left: 2rem;
    margin-top: 0.4rem;
}

.schedule .range {
    display: flex;
}

.runningCountDown .range {
    opacity: 0.3;
    cursor: not-allowed;
}

.range.alignCenter {
    align-items: center;
}

.schedule .range > div {
    flex: 1 1 0;
    align-self: top;
}

.schedule .right b {
    margin-left: 2rem;
    display: inline-block;
    margin-top: 5.4rem;
}

.schedule .right b.noMargin {
    margin-top: 0rem;
}

.schedule .range > div:first-of-type {
    flex: 6 6 0;
}


.range label {
    display: flex;
    align-items: center;
    padding: 4rem 1rem 0 0;
    font-variant-numeric: tabular-nums;
}

.range label.noPadding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.range input {
    float: left;
    width: 100%;
    margin: 0.5rem 1rem 1rem 0;
}

.range > span {
    font-size: 2rem;
    line-height: 5rem;
    font-variant-numeric: tabular-nums;
}

.range > span span {
    color: #999;
}

.range u {
    text-decoration: none;
    border-bottom: 1px solid blue;
    font-weight: bold;
}

.range b {
    font-size: 3rem;
    background:#fff;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    line-height: 1.3;
}

.range b.water{
    background: #a4d7f1;
}

.range b.flour{
    background: #ceb192;
}

.saf {
    margin-left: 1rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

.saf b {
    background: none;
    margin-right: 0;
    border: 1px dotted #000;
    font-size: 2rem;
}

.modalHowLong {
    display: inline-block;
    border: 1px solid #888;
    padding: 5px;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
}

.modalHowLong:before{
    content: "";
    width: 15px;
    height: 10px;
    display: block;
    background: #fff;
    top: -5px;
    right: -5px;
    border: 1px solid #000;
    position: absolute;
    box-shadow: 1px 1px 0 #999;
}

.link {
    margin: 3rem 0;
    border-radius: 1rem;
    border: 2px solid #888;
    background: #dadada;
    display: flex;
    align-items: center;
}

.copy {
    background: url(../pics/copy.svg);
    cursor: pointer;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0 2rem 0 3rem;
}

.linkField {
    padding: 1rem 4rem;
    cursor: pointer;
    color: #555;
    width: auto;
    font-size: 2rem;
    background: #eaeaea;
    border: none;
    border-radius: 1rem;
    flex: 1 1 0;
}

.linkField:focus {
    outline: none;
    background: #f8ffbd;
}

.starter {
    margin-top: 4rem;
    border-top: 1px solid #888;
    padding: 3rem 0;
}

.launcher {
    display: flex;
}

.launcher .lnk {
    text-decoration: underline;
    color: #888;
    cursor: pointer;
}
.launcher .lnk:hover {
    color: #000;
}

.basicTxt {
    line-height: 2;
}

.buttonStart {
    border: 5px solid #a4d7f1;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: block;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 3px #000;
    background: #fff;
}

.buttonStart:before{
    content: "";
    position: absolute;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 4rem solid #a4d7f1;
    transform: rotate(-90deg);
    left: 1.5rem;
    top: 1rem;
}

.buttonStart:hover{
    border-color: #71aece;
    
}

.buttonStart:hover:before {
    border-top-color: #71aece;
}

.wrapperPlay {
    padding: 0 1rem;
    text-align: center;
    margin: 0 1rem;
    padding-bottom: 3rem;
    border-radius: 2rem;
    background: #ddd;
}

.wrapperPlay > span {
    display: block;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.wrapperPlay > span a {
    color: #444;
}

.wrapperPlay > span > span {
    color: #888;
    font-size: 1.3rem;
}

@media all and (max-width:677px){
    .balance,
    .schedule,
    .save {
        margin: 0;
    }
    .label{
        text-align: center;
    }
    .schedule .range {
        flex-direction: column;
    }

    .schedule .right b{
        margin-left: 0;
        margin-top: 1.4rem;
    }

    .range.alignCenter{
        align-items: start;
        margin-top: 3rem;
    }

    .wrapperPlay > span > span {
        display: none;
    }

    .label{
        display: block;
        margin-bottom: 1rem;
    }

    .board {
        margin: 0;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .link {
        flex-direction: column;
    }
    .save label {
        margin: 1rem 0;
    }
    .linkField {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0 0 1rem 1rem;
        padding: 1rem;
        font-size: 1.2rem;
    }
    .board .marker {
        font-size: 1.4rem;
        border-radius: 3rem;
        box-shadow: none;
        border: 1px solid #999;
    }
    .board .marker span {
        display: none;
    }
}
