.link {
    background: url(../pics/youtube.svg);
    display: inline-block;
    width: 2rem;
    background-size: 80%;
    margin-left: 1rem;
    opacity: 0.3;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
}

.link:hover,
.link:focus {
    opacity: 1;
}